*{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

.sidebar {
    margin: 0;
    padding: 0;
    background-color:whitesmoke;
    /*height:100%;*/
    height: 80%;
    width: 13rem;
    overflow-y: auto;
    /* display:block; */
    position:fixed;
    text-align: left;
    border-right:0.1px solid black;
    padding-bottom: 100px;
    padding-top:10px;
    border-bottom:0.1px solid black;
    /* border-top:0.1px solid black; */
    margin-bottom: 20px;
  }
.body{
  background-color:white;
}.pdpimage{
  width:200px;
  height:200px;
  margin-right:10px;
  margin-bottom:10px;
}
.nav{
  /*background-color: #009E60; - Dark Green*/
  background-color: #454545;
  position:sticky;
  overflow: auto; 
  display:flex;
  top:0;
  width:100%;
  height:100px;
  z-index:999;
  border-bottom:0.1px solid black;
}
/* grid formatting */
.forma{
  margin-left: 15rem;
  margin-right: 2rem;
  display: flex;
}
/* Individual Product Cards */
.card{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1px;
    margin-right: 1px;
    transition: all .5s ease;
    background-color: whitesmoke;
    cursor:pointer;
}
/* Adding shadows for the product cards and the button*/
.card:hover{
    transform: translate3d(0,-1px,0) scale(1.07);
    transition: all .4s ease;
    box-shadow: 0 0 20px rgba(33,33,33,1);
}
.btn:hover{
  opacity:0.8;
  box-shadow: 0 0 11px rgba(33,33,33,1);
  transform: translate3d(0,-1px,0) scale(1.07);
  transition: all .4s ease; 
}

/*formating the search bar*/
.searchquery{
  width:200px;
  float:right;
  border-radius: 20px;
  border: 3px solid white;
  margin-right: 1rem;
  background-color: whitesmoke;
}
/*formatting the pagination elements*/
.pagi{
  justify-content: center;
  align-items: center;
  display:flex;
  margin-bottom:2rem;
  margin-left:15rem;
}

.btn:disabled{
  opacity:0.35;
}

.prev{
  margin-right:1rem;
  background-color:white;
}

.next{
  margin-left:1rem;
  background-color:white;
}

.horizontalbreak1{
  background-color: white;
  height:1px;
}

.info{
  margin-left:2rem;
  margin-right:2rem;
  background-color: white;
  color:black;
}
.infotext{
  margin-left:1rem;
  margin-right:1rem;
  text-transform: capitalize;
}

.centeralign{
  text-align:center;
}

.logoimg{
  width:100px;
  height:75px;
}

.logoimg1{
  width:10%;
  height:10%;
  background-color: black;
  transition: all .5s ease;
}
.logoimg1:hover{
  box-shadow: 0 0 11px rgba(33,33,33,1);
  transform: translate3d(0,-1px,0) scale(1.01);
  transition: all .4s ease; 
}
.containerbody{
  color:black;
}
.horizontalbreak2{
  background-color: black;
  opacity: 0.10;
}

.logo{
  margin-right:40rem;
}

.logo1{
  margin-left:7rem;
}

.lds-ellipsis {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  width: 80px;
  height: 80px;
  margin-left: 650px;
  margin-bottom: 100rem;
}
.lds-ellipsis div {
  position: relative;
  justify-content: center;
  align-items: center;
  top: 300px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: black;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.facetfilters{
  padding-left: 15px;
}

.productDetails{
  display:flex;
  flex:wrap;
}

.productDetKey{
  width:30%;
}

.productDetVal{
  width:60%;
}
.plp{
  flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.footer{
  margin-top:2rem;
  background-color: #454545;
  height:50px;
  color:white;
  text-align:center;
}

@media screen and (max-width:768px){
  .sidebar{
      display:none
  }
  .forma{
    margin-left:2rem;
  }
  .pagi{
    margin-left:2rem;
  }
}